@import "tailwindcss";

@theme {
  --color-pict-blue: #2D3E8B;
  --color-pict-light-blue: #E8EBF8;
  --color-pict-bg: #F4F7FE;
  --color-pict-text: #1B2559;
  --color-pict-gray: #A3AED0;

  /* Classy Font Configuration */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-display: "Montserrat", sans-serif;
}